html, body {
    background: #e0e0e0;
    color: #000;
    margin:0;
}
body {
    font-family: "Lucida Grande";
    font-size: 12px;
    line-height: 14px;
    padding:10px;
}

#out {
    padding-top: 5px;
}

#refresh {
    font-size: 1.2em;
    padding:0;
}
